.messages_list{
color:#333333;
width:97%;
margin-left:8px;
cursor:pointer;
border-bottom:1px solid #666666;
padding:8px;
height:100px;
background:#afdafa;
}

.pp_messages{
width:100px;
height:100px;
float:left;
}

.pesan{
width:70%;
float:left;
height:100%;
color:#333333;
}

#read_message{
width:98%;
height:auto;
padding-bottom:50px;
border:1px solid #222;
margin-left:9px;
margin-top:50px;
color:#333333;
}

#header_message{
width:100%;
height:160px;
background:#afdafa;
color:#333333;
}